.header {
    background-color: darkturquoise;
    height: 40px;
}
.nav-item {
    display: inline;
    color: white;
    padding: 16px;
    height: 40px;
}
.content {
background-color: beige;
height: 5000px;
}
.head {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}
